---
import banner from '../assets/banner_website.png';

const title = 'June Ong';
const description = "June Ong's personal site! portfolio, CTF writeups, and blog.";
const ogImage = new URL(banner.src, Astro.site);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/face.png" />
		<link rel="canonical" href={canonicalURL} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />

		<meta property="og:type" content="website" />
		<meta property="og:site_name" content={title} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:image" content={ogImage} />
		<meta property="og:image:width" content={String(banner.width)} />
		<meta property="og:image:height" content={String(banner.height)} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={ogImage} />
	</head>

	<body>
		<slot />
		<script type="module" src="/scripts/sidebar.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
